node_modules
.next
.git
.env
.env*.local
*.db
*.db-journal
*.sqlite
*.sqlite-journal
npm-debug.log*
yarn-debug.log*
public/uploads
.vscode
.idea
*.pdf
deploy.sh
push-db-to-vm.sh
pull-from-vm-to-db.sh
backups/
